// COULEURS
@use "./fonts" as *;


$font: "Libre Baskerville", Georgia, serif;
$font-title: Arial, sans-serif;


$primary: #775D33;
$secondary: #b4b4b4;

$error: #ee0f0f;
$success: #0c9918;

$color-background: #ffffff;
$color-text: #222222;
$color-text-light: #ffffff;

$black-alpha: rgba(0,0,0,0.3);


// TAILLES

$max-width: 1200px;
$spacing-Xsmall: 0.5rem;
$spacing-small: 1rem;
$spacing-medium: 1.5rem;
$spacing-large: 3rem;


// BREAKPOINTS
$bigDesktop: 1240px;
$desktop: 1080px;
$smallDesktop: 840px;
$tablette: 640px;
$smallTablette: 600px;
$bigMobile: 500px;
$mobile: 420px;
$smallMobile: 380px;


// AUTRES

$border-radius: 8px;
$shadow: 0 0 20px rgba(0, 0, 0, 0.15);
$transition: 0.3s ease;