@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.section__about {
    background-color: $color-text;
    h2 {
        color: $color-background;
    }
    .section__container {
        margin: $spacing-medium auto; 
    }
}
.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    &__container, &__fullWidth {
       
        p {
            color: $color-background;
            margin-bottom: $spacing-Xsmall;
            em {
                color: $color-background;
                font-style: italic;
            }
            b {
                color: $color-background;
                font-family: $font-title;
                font-weight: bold;
            }
        }
        h3 {
            color: $color-background;
            margin: $spacing-small 0 $spacing-Xsmall;
        }
    }
    &__container {
         width: 100%;
    }
    &__fullWidth {
        display: none;
    }
    &__img {
        width: 100%;
        img {
            width: 100%;
            height: auto;
            &.tohide {
                display: none;
            }
        }
    }

    // TABLETTE
    @include tablette {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 0.25rem;
        &__fullWidth {
            display: block;
            width: 100%;
        }
        &__container {
            width: calc(70% - 2rem);
            .tohide {
                display: none;
            }
        }
        &__img {
            width: 30%;
            img {
                &.toshow {
                    display: none;
                }
                &.tohide {
                    display: block;
                }
            }
        }
    }
    // SMALL DESTOP
    @include smallDesktop {

    }
    // DESKTOP
    @include desktop {
        &__fullWidth {
            display: none;
        }
        &__container {
            width: calc(65% - 2rem);
            .tohide {
                display: block;
            }
        }
        &__img {
            width: 35%;
        }
    }
}