@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;
.header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: $color-background;
    box-shadow: $shadow;
    &__container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        align-items: flex-end;
        background-color: $color-background;
        padding: 1rem 1rem 0 1rem;
        max-width: $max-width;
        svg {
            fill: $color-text;
            max-width: 200px;
            width: 100%;
            height: auto;
        }

    }
    &__logo {
        margin-bottom: 1rem;
        &.active {
            cursor: pointer;
        }
    }
}