@use "./styles/variables" as *;
@use "./styles/mixin" as *;

main {
    width: 100%;
}

.section {
    padding: $spacing-medium $spacing-small;


    &__container {
        width: 100%;
        max-width: $max-width;
        margin: 0 auto;
    }

    &__title {
        margin-bottom: $spacing-medium;
    }
    @include smallTablette {
       padding: $spacing-medium;
    }
}
