@use "./styles/variables" as *;
@use "./styles/mixin" as *;


// RESET

* {
    box-sizing: border-box;
    color: $color-text;
    border: 0;
    margin: 0;
    padding: 0;
    gap: 2rem;
    @include font;
    line-height: 1.1;
    font-size: 1rem;
    font-weight: 400;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: auto;
}

body {
    margin: 0;
    min-width: 320px;

    font-family: $font;
    color: $color-text;
    background-color: $color-background;

    -webkit-font-smoothing: antialiased;
}


* {
        &:focus-visible {
            outline: 2px solid currentColor;
            outline-offset: 4px;
        }
}


.skip-link {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 9999;

    padding: 0.75rem 1rem;

    background: #fff;
    color: #000;

    transform: translateY(-200%);
    transition: transform 0.2s ease;

    &:focus {
        transform: translateY(0);
    }
}

// TYPOGRAPHIE

h1,
h2,
h3,
p {
    margin-top: 0;
}

h1 {
    font-size: 28px;
    font-weight: bold;
}
h2 {
    font-size: 24px;
    font-weight: bold;
}
h3 {
    font-size: 22px;
    font-weight: bold;
    font-family:$font-title;
}
p {
    font-size: 1rem;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

p {
    line-height: 1.6;
}


// LIENS

a {
    color: inherit;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}


// IMAGES

img {
    display: block;
    max-width: 100%;
    height: auto;
}


// BOUTONS

button,
input,
textarea {
    font: inherit;
}

button {
    cursor: pointer;
}


// LISTES

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.cta {
    @include cta(primary);
}

.cta-secondary {
    @include cta(secondary);
}